<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bilancio - familybudget</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="assets/vueBalance.js" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> <!-- jquery-->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script src="/assets/color-modes.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

  <link rel="stylesheet" href="/assets/css/bootstrap-custom.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">familybudget</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/home.html">Spese</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/balance.html">Utenti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api.html">API</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" href="/api/auth/logout"><i class="bi bi-box-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-shrink-0">
    <div class="container" id="app5">
      <h1 class="mt-5">Bilancio</h1>
      <h2 class>Situazione con altri utenti</h2>
      <p class="lead">Per ogni utente sono segnati gli eventuali debiti (in rosso) o crediti (in verde, segno negativo)
      </p>
      <table class="table" id="give">
          <tr>
            <th>#</th>
            <th>Utente</th>
            <th>Bilancio</th>
            <th>Rimborsa</th>
          </tr>
          <tr>
            <td></td>
            <td><input class="form-control" id="search1" type="text" placeholder="Cerca..." style="width:auto;"></td>
            <td></td>
            <td></td>
          </tr>
          <tbody id="myTable">
          <tr v-for="user,key in users">
            <td>{{++key}}</td>
            <td>{{user.username}}</td>
            <td :style="{color: balance[user.username] > 0 ? 'red' : 'green'}">{{balance[user.username]}}€</td>
            <td><button data-bs-toggle="modal" data-bs-target="#refundModal" @click="apriRimborso(user.username, balance[user.username])" class="btn btn-success btn-sm" v-if="balance[user.username]>0"><i class="bi bi-arrow-repeat"></i></button></td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="refundModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="refundModalLabel">Rimborso</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Effettuare un rimborso di {{price}}€ in favore di {{user}}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="post()">Rimborsa</button>
            </div>
          </div>
        </div>
      </div>

      <h2 class>Transazioni in entrata</h2>
      <p class="lead">In questa sezione sono presenti le spese di altri utenti in cui l'utente attuale è coinvolto
      </p>

      <div>
        <table class="table" id="transactions">
          <tr>
            <th>#</th>
            <th>Data</th>
            <th>Da</th>
            <th>Descrizione</th>
            <th>Quote</th>
            <th>Totale</th>
            <!--<th></th> -->
          </tr>
          <tr v-for="transaction,key in transactions">
            <td>{{++key}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.user}}</td>
            <td>{{transaction.description}}</td>
            <td>
              <ul>
                <li v-for="users in transaction.otherUsers">{{users.user}} {{users.quote}}€</li>
              </ul>
            </td>
            <td>{{transaction.price}}€</td>
          </tr>
        </table>
      </div>
    </div>

  </main>

  <footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
      <span class="text-body-secondary">&copy; 2024 familybudget - Marco Lo Giudice</span>
    </div>
  </footer>

  <script>
    $(document).ready(function () {
      $("#search1").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).find("td:eq(1)").text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</body>
</html>