<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
  <script src="/assets/color-modes.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="assets/vue.js" defer></script>

  <title>Home</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

  <link rel="stylesheet" href="/assets/css/bootstrap-custom.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">familybudget</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/transactions.html">Transazioni</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-shrink-0">
    <div class="container">
      <div id="app4">
        <h1 class="mt-5">Home</h1>
        <p class="lead">In questa sezione è presente un riassunto della situazione attuale
        </p>
        <h2>Situazione attuale: {{balance}}€</h2>

      </div>
      <div id="app3">

        <p>Debiti (>0) e crediti (<0)</p>
            <table class="table" id="give">
              <tr>
                <th>#</th>
                <th>Utente</th>
                <th>Soldi</th>
                <th>Rimborsa</th>
              </tr>
              <tr v-for="transaction,key in transactions">
                <td>{{++key}}</td>
                <td>{{transaction.user}}</td>
                <td>{{transaction.diff}}€</td>
                <td><button @click="" v-if="transaction.diff>0" class="btn btn-success btn-sm"><i
                      class="bi bi-credit-card-2-back"></i></button>
                </td>
              </tr>
            </table>

      </div>
    </div>

  </main>

  <footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
      <span class="text-body-secondary">.</span>
    </div>
  </footer>

</body>

</html>